.action-row {
  display: flex;
  gap: 10px;
}

.icon {
  display: flex;
  align-items: center;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  padding: 10px 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
}

.icon:active {
  opacity: 0.5;
}
