* {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}

:root {
  --primaryColor: #007fff;
  --secondaryColor: #fff;
  --bgPrimaryColor: rgb(230, 227, 227);
  --errorColor: #c00;
  --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.App {
  max-width: 100vw;
  max-height: 100vh;
}

.orientation {
  display: none;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
  .orientation {
    display: block;
  }
  .App {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  .App {
    font-size: 1vw;
  }
}
